:root {
	--card-height: 40vw;
	--card-margin: 4vw;
	--card-top-offset: 1em;
	--numcards: 4;
	--outline-width: 0px;

	// @media (max-width: 768px) {
	// 	--card-height: 30vw;
	// 	--card-margin: 2vw;
	// }
}

.projects-section {
    width: 70vw;
    margin: 0 auto;
    text-align: center;

	@media (max-width: 899.98px) {
		width: 90%;
	}
	
}

#cards {
	padding-bottom: calc(var(--numcards) * var(--card-top-offset)); /* Make place at bottom, as items will slide to that position*/
	margin-bottom: var(--card-margin); /* Don't include the --card-margin in padding, as that will affect the scroll-timeline*/
}

#card_1 {
	--index: 1;
}

#card_2 {
	--index: 2;
}

#card_3 {
	--index: 3;
}

#card_4 {
	--index: 4;
}

.card {
	position: sticky;
	top: 0;
	padding-top: calc(var(--index) * var(--card-top-offset));
}

.card__content {
	transform-origin: 50% 0%;
	will-change: transform;
}

@supports (animation-timeline: view()) {

    .card {
        --index0: calc(var(--index) - 1); /* 0-based index */
        --reverse-index: calc(var(--numcards) - var(--index0)); /* reverse index */
        --reverse-index0: calc(var(--reverse-index) - 1); /* 0-based reverse index */
    }

    @keyframes scale {
        to {
            transform:
                scale(calc(1.1 - calc(0.1 * var(--reverse-index))));
        }
    }

    #cards {
        --numcards: 4;
        view-timeline-name: --cards-element-scrolls-in-body;
    }

    .card__content {
        --start-range: calc(var(--index0) / var(--numcards) * 100%);
        --end-range: calc((var(--index)) / var(--numcards) * 100%);

        animation: linear scale forwards;
        animation-timeline: --cards-element-scrolls-in-body;
        animation-range: exit-crossing var(--start-range) exit-crossing var(--end-range);
    }
}

#cards {
	list-style: none;
	outline: calc(var(--outline-width) * 10) solid blue;
	
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(var(--numcards), var(--card-height));
	gap: var(--card-margin);

	@media (max-width: 899.98px) {
		display: none;
	}
}

.card {
	outline: var(--outline-width) solid hotpink;
}

.card__content {
	box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
	background: rgb(255, 255, 255);
	color: rgb(10, 5, 7);
	border-radius: 1em;
	overflow: hidden;

	display: grid;
	grid-template-areas: "text img";
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;

	align-items: stretch;
	outline: var(--outline-width) solid lime;
}

.card__content > div {
	grid-area: text;
	width: 80%;
	place-self: center;
	text-align: left;

	display: grid;
	gap: 3em;
	place-items: start;

	@media (max-width: 1000px) {
		gap: 0em;
	}
}

.card__content > figure {
	grid-area: img;
	overflow: hidden;
	margin: 0;
}

.card__content > figure > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// h1 {
// 	font-weight: 300;
// 	font-size: 3.5em;
// }

h3 {
	font-weight: 300;
	font-size: 2.5em;

	@media (max-width: 400px) {
		margin: 10px 0;
		font-size: 2em;
	}
}

.card__content p {
	font-family: sans-serif;
	font-weight: 300;
	line-height: 1.42;
}

.btn {
	background: rgb(188 87 36);
	color: rgb(255 255 255);
	text-decoration: none;
	display: inline-block;
	padding: 0.5em;
	border-radius: 0.25em;
    margin-bottom: 1em; /* ajout */
}

.mobile-cards {
	list-style: none;
	padding: 0;

	@media (min-width: 899.98px) {
		display: none;
	}

	&__card {
		margin-bottom: 30px;

		figure {
			overflow: hidden;
			margin: 0;
		}

		figure > img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&--content {
			box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
			background: rgb(255, 255, 255);
			color: rgb(10, 5, 7);
			border-radius: 1em;
			overflow: hidden;
		
			display: grid;
			grid-template-areas: "text img";
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto;
		
			align-items: stretch;

			@media (max-width: 400px) {
				height: 300px;
			}

			div {
				grid-area: text;
				width: 80%;
				place-self: center;
				text-align: left;
			
				display: grid;
				gap: 1em;
				place-items: start;
			}

			p {
				@media (max-width: 400px) {
					margin: 0;
					font-size: 12px;
				}
			}
		}
	}
}