.skills-section {
    padding-top: 20px;
    background-color: $primary-color;

    &__title {
        position: relative;
    }

    &__title:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 4px;
        width: 100px;
        background-color: white;
    }
}

.skills-cntr {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    text-align: center;
    padding: 1rem 80px;
    font-size: 1.2rem; 

    &__box {
        padding: 1rem;
        color: #ddd;
        cursor: pointer;
        width: 30%;
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        position: relative;
    }

    &__title:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 50%;
        width: 0;
        height: 4px;
        border-radius: 2px 0 0 2px;
        background-color: white;
        transition: 0.5s;
    }

    &__title:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 4px;
        border-radius: 0 2px 2px 0;
        background-color: white;
        transition: 0.5s;
    }

    &__title p {
        margin: 0.5rem;
        font-weight: bold;
    }

    &__logo {
        transition: 0.5s;
        border-radius: 45px;
        background-color: white;
        width: 90px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    &__logo img {
        z-index: 1;
        object-fit: contain;
    }

    &__logo:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 90px;
        background: rgba(100, 100, 100, 0.5);
        border-radius: 45px 0 0 45px;
    }
}

.skills-cntr__box:hover > .skills-cntr__title:after,  .skills-cntr__box:hover > .skills-cntr__title:before {
    width: 35px;
}

.skills-cntr__box:hover .skills-cntr__logo {
    transform: translateY(-10px);
}
