body {
  margin: 0;
  padding: 0;
  background-color: #efece5;
}

* {
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h2 {
  text-align: center;
  padding: 1rem;
  font-size: 45px;
}

.contact-section {
  background-color: #124b90;
  padding: 20px 10px;
}
.contact-section__title {
  position: relative;
}
.contact-section__title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 100px;
  background-color: white;
}
.contact-section__cnt {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (max-width: 768px) {
  .contact-section__cnt {
    order: 1;
  }
}
.contact-section__item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact-section__item a {
  font-size: 30px;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
}
@media (max-width: 768px) {
  .contact-section__item a {
    font-size: 25px;
  }
}
@media (max-width: 400px) {
  .contact-section__item a {
    font-size: 18px;
  }
}
.contact-section__item a:visited {
  color: #FFFFFF;
}
.contact-section__item a:hover {
  text-shadow: 2px 1px 10px rgb(246, 163, 121);
  transition: all 0.5s;
}
.contact-section__icon {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
}
.contact-section__gif {
  width: 500px;
  height: 500px;
}
@media (max-width: 899.99px) {
  .contact-section__gif {
    order: 2;
    width: 300px;
    height: 300px;
  }
}

.contact-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 899.99px) {
  .contact-flex {
    flex-direction: column;
  }
}

.navbar {
  background-color: #124b90;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
}
.navbar__logo {
  width: 230px;
  height: 90px;
}
.navbar__item {
  font-weight: 300;
  margin: 1rem;
  text-decoration: none;
  color: white;
}
.navbar__content {
  display: flex;
}
.navbar__content a {
  display: block;
  height: 100%;
  margin-right: 30px;
  font-size: 20px;
  position: relative;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
@media (max-width: 768px) {
  .navbar__content a {
    font-size: 10px;
  }
}
.navbar__content a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1.5px;
  display: block;
  transition: all 0.3s ease;
  bottom: 10%;
}
.navbar__content a:hover::after {
  width: 100%;
  height: 1.5px;
  background-color: #fff;
}

.hero-section {
  margin: 80px 10%;
  text-align: justify;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .hero-section__txt {
    order: 2;
  }
}
.hero-section p {
  font-size: 20px;
  font-weight: 300;
  margin: 10px 0;
}
@media (max-width: 768px) {
  .hero-section p {
    font-size: 15px;
  }
}
.hero-section__portrait {
  border-radius: 50%;
  width: 350px;
  height: 350px;
  margin-left: 100px;
}
@media (max-width: 768px) {
  .hero-section__portrait {
    order: 1;
    width: 250px;
    height: 250px;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .hero-section__image {
    display: flex;
    justify-content: center;
  }
}

h1 {
  font-size: 60px;
  margin-bottom: 0;
  color: #f59565;
}
@media (max-width: 768px) {
  h1 {
    text-align: center;
  }
}

.skills-section {
  padding-top: 20px;
  background-color: #124b90;
}
.skills-section__title {
  position: relative;
}
.skills-section__title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 100px;
  background-color: white;
}

.skills-cntr {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  text-align: center;
  padding: 1rem 80px;
  font-size: 1.2rem;
}
.skills-cntr__box {
  padding: 1rem;
  color: #ddd;
  cursor: pointer;
  width: 30%;
}
.skills-cntr__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}
.skills-cntr__title:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 4px;
  border-radius: 2px 0 0 2px;
  background-color: white;
  transition: 0.5s;
}
.skills-cntr__title:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 4px;
  border-radius: 0 2px 2px 0;
  background-color: white;
  transition: 0.5s;
}
.skills-cntr__title p {
  margin: 0.5rem;
  font-weight: bold;
}
.skills-cntr__logo {
  transition: 0.5s;
  border-radius: 45px;
  background-color: white;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.skills-cntr__logo img {
  z-index: 1;
  -o-object-fit: contain;
     object-fit: contain;
}
.skills-cntr__logo:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 90px;
  background: rgba(100, 100, 100, 0.5);
  border-radius: 45px 0 0 45px;
}

.skills-cntr__box:hover > .skills-cntr__title:after, .skills-cntr__box:hover > .skills-cntr__title:before {
  width: 35px;
}

.skills-cntr__box:hover .skills-cntr__logo {
  transform: translateY(-10px);
}

:root {
  --card-height: 40vw;
  --card-margin: 4vw;
  --card-top-offset: 1em;
  --numcards: 4;
  --outline-width: 0px;
}

.projects-section {
  width: 70vw;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 899.98px) {
  .projects-section {
    width: 90%;
  }
}

#cards {
  padding-bottom: calc(var(--numcards) * var(--card-top-offset));
  margin-bottom: var(--card-margin);
}

#card_1 {
  --index: 1;
}

#card_2 {
  --index: 2;
}

#card_3 {
  --index: 3;
}

#card_4 {
  --index: 4;
}

.card {
  position: sticky;
  top: 0;
  padding-top: calc(var(--index) * var(--card-top-offset));
}

.card__content {
  transform-origin: 50% 0%;
  will-change: transform;
}

@supports (animation-timeline: view()) {
  .card {
    --index0: calc(var(--index) - 1);
    --reverse-index: calc(var(--numcards) - var(--index0));
    --reverse-index0: calc(var(--reverse-index) - 1);
  }
  @keyframes scale {
    to {
      transform: scale(calc(1.1 - 0.1 * var(--reverse-index)));
    }
  }
  #cards {
    --numcards: 4;
    view-timeline-name: --cards-element-scrolls-in-body;
  }
  .card__content {
    --start-range: calc(var(--index0) / var(--numcards) * 100%);
    --end-range: calc((var(--index)) / var(--numcards) * 100%);
    animation: linear scale forwards;
    animation-timeline: --cards-element-scrolls-in-body;
    animation-range: exit-crossing var(--start-range) exit-crossing var(--end-range);
  }
}
#cards {
  list-style: none;
  outline: calc(var(--outline-width) * 10) solid blue;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--numcards), var(--card-height));
  gap: var(--card-margin);
}
@media (max-width: 899.98px) {
  #cards {
    display: none;
  }
}

.card {
  outline: var(--outline-width) solid hotpink;
}

.card__content {
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
  color: rgb(10, 5, 7);
  border-radius: 1em;
  overflow: hidden;
  display: grid;
  grid-template-areas: "text img";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: stretch;
  outline: var(--outline-width) solid lime;
}

.card__content > div {
  grid-area: text;
  width: 80%;
  place-self: center;
  text-align: left;
  display: grid;
  gap: 3em;
  place-items: start;
}
@media (max-width: 1000px) {
  .card__content > div {
    gap: 0em;
  }
}

.card__content > figure {
  grid-area: img;
  overflow: hidden;
  margin: 0;
}

.card__content > figure > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h3 {
  font-weight: 300;
  font-size: 2.5em;
}
@media (max-width: 400px) {
  h3 {
    margin: 10px 0;
    font-size: 2em;
  }
}

.card__content p {
  font-family: sans-serif;
  font-weight: 300;
  line-height: 1.42;
}

.btn {
  background: rgb(188, 87, 36);
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: inline-block;
  padding: 0.5em;
  border-radius: 0.25em;
  margin-bottom: 1em; /* ajout */
}

.mobile-cards {
  list-style: none;
  padding: 0;
}
@media (min-width: 899.98px) {
  .mobile-cards {
    display: none;
  }
}
.mobile-cards__card {
  margin-bottom: 30px;
}
.mobile-cards__card figure {
  overflow: hidden;
  margin: 0;
}
.mobile-cards__card figure > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mobile-cards__card--content {
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
  color: rgb(10, 5, 7);
  border-radius: 1em;
  overflow: hidden;
  display: grid;
  grid-template-areas: "text img";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: stretch;
}
@media (max-width: 400px) {
  .mobile-cards__card--content {
    height: 300px;
  }
}
.mobile-cards__card--content div {
  grid-area: text;
  width: 80%;
  place-self: center;
  text-align: left;
  display: grid;
  gap: 1em;
  place-items: start;
}
@media (max-width: 400px) {
  .mobile-cards__card--content p {
    margin: 0;
    font-size: 12px;
  }
}/*# sourceMappingURL=main.css.map */