body {
  margin: 0;
  padding: 0;
  background-color: #efece5;
}

* {
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  background-color: #124b90;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  width: 230px;
  height: 90px;
}
.navbar__item {
  font-weight: 300;
  margin: 1rem;
  text-decoration: none;
  color: white;
}
.navbar__content {
  display: flex;
}
.navbar a {
  display: block;
  height: 100%;
  margin-right: 30px;
  font-size: 20px;
  position: relative;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navbar a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1.5px;
  display: block;
  transition: all 0.3s ease;
  bottom: 10%;
}
.navbar a:hover::after {
  width: 100%;
  height: 1.5px;
  background-color: #fff;
}

.hero-section {
  margin: 80px 10%;
  text-align: justify;
  display: flex;
}
.hero-section p {
  font-size: 20px;
  font-weight: 300;
  line-height: 20px;
  margin: 10px 0;
}
.hero-section__portrait {
  border-radius: 50%;
  width: 350px;
  height: 350px;
  margin-left: 100px;
}

h1 {
  font-size: 60px;
  margin-bottom: 0;
}

.skills-section {
  padding-top: 20px;
  background-color: #124b90;
}
.skills-section__title {
  text-align: center;
  padding: 1rem;
  position: relative;
}
.skills-section__title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 100px;
  background-color: white;
}

.skills-cntr {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  text-align: center;
  padding: 1rem 80px;
  font-size: 1.2rem;
}
.skills-cntr__box {
  padding: 1rem;
  color: #ddd;
  cursor: pointer;
  width: 30%;
}
.skills-cntr__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}
.skills-cntr__title:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 4px;
  border-radius: 2px 0 0 2px;
  background-color: white;
  transition: 0.5s;
}
.skills-cntr__title:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 4px;
  border-radius: 0 2px 2px 0;
  background-color: white;
  transition: 0.5s;
}
.skills-cntr__title h3 {
  margin: 0.5rem;
}
.skills-cntr__logo {
  transition: 0.5s;
  border-radius: 45px;
  background-color: white;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.skills-cntr__logo img {
  z-index: 1;
  -o-object-fit: contain;
     object-fit: contain;
}
.skills-cntr__logo:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 90px;
  background: rgba(100, 100, 100, 0.5);
  border-radius: 45px 0 0 45px;
}

.skills-cntr__box:hover > .skills-cntr__title:after, .skills-cntr__box:hover > .skills-cntr__title:before {
  width: 35px;
}

.skills-cntr__box:hover .skills-cntr__logo {
  transform: translateY(-10px);
}

:root {
  --card-height: 40vw;
  --card-margin: 4vw;
  --card-top-offset: 1em;
  --outline-width: 0px;
}

.projects-section {
  width: 70vw;
  margin: 0 auto;
  text-align: center;
}

#cards {
  padding-bottom: calc(var(--numcards) * var(--card-top-offset)); /* Make place at bottom, as items will slide to that position*/
  margin-bottom: var(--card-margin); /* Don't include the --card-margin in padding, as that will affect the scroll-timeline*/
}

#card_1 {
  --index: 1;
}

#card_2 {
  --index: 2;
}

#card_3 {
  --index: 3;
}

#card_4 {
  --index: 4;
}

.card {
  position: sticky;
  top: 0;
  padding-top: calc(var(--index) * var(--card-top-offset));
}

.card__content {
  transform-origin: 50% 0%;
  will-change: transform;
}

@supports (animation-timeline: view()) {
  .card {
    --index0: calc(var(--index) - 1); /* 0-based index */
    --reverse-index: calc(var(--numcards) - var(--index0)); /* reverse index */
    --reverse-index0: calc(var(--reverse-index) - 1); /* 0-based reverse index */
  }
  @keyframes scale {
    to {
      transform: scale(calc(1.1 - 0.1 * var(--reverse-index)));
    }
  }
  #cards {
    --numcards: 4;
    view-timeline-name: --cards-element-scrolls-in-body;
  }
  .card__content {
    --start-range: calc(var(--index0) / var(--numcards) * 100%);
    --end-range: calc((var(--index)) / var(--numcards) * 100%);
    animation: linear scale forwards;
    animation-timeline: --cards-element-scrolls-in-body;
    animation-range: exit-crossing var(--start-range) exit-crossing var(--end-range);
  }
}
#cards {
  list-style: none;
  outline: calc(var(--outline-width) * 10) solid blue;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--numcards), var(--card-height));
  gap: var(--card-margin);
}

.card {
  outline: var(--outline-width) solid hotpink;
}

.card__content {
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
  color: rgb(10, 5, 7);
  border-radius: 1em;
  overflow: hidden;
  display: grid;
  grid-template-areas: "text img";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: stretch;
  outline: var(--outline-width) solid lime;
}

.card__content > div {
  grid-area: text;
  width: 80%;
  place-self: center;
  text-align: left;
  display: grid;
  gap: 3em;
  place-items: start;
}

.card__content > figure {
  grid-area: img;
  overflow: hidden;
  margin: 0;
}

.card__content > figure > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h4 {
  font-weight: 300;
  font-size: 2.5em;
}

.card__content p {
  font-family: sans-serif;
  font-weight: 300;
  line-height: 1.42;
}

.btn {
  background: rgb(188, 87, 36);
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: inline-block;
  padding: 0.5em;
  border-radius: 0.25em;
  margin-bottom: 1em; /* ajout */
}/*# sourceMappingURL=main.css.map */