.navbar {
    background-color: #124b90;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item {
        font-weight: 500;
        margin: 1rem;
        text-decoration: none;
        color: white;
    }
}

img {
    width: 230px;
    height: 90px;
}

